* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.boxes {
    /* бита рядга тургизиш */
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    height: 100vh;
    /* х */
    justify-content: center;
    /* y */
    align-items: center;
    /* орасини очиш */
    gap: 1px;

}

.box {
    width: 100px;
    height: 100px;
}

.box:nth-child(1) {
    background: #000;
}

.box:nth-child(2) {
    background: red;
}

.box:nth-child(3) {
    background: blue;
}